azure-ai-documentintelligence==1.0.2
azure-core==1.33.0
azure-identity==1.21.0
beautifulsoup4==4.13.4
boto3==1.37.37
botocore==1.37.37
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cobble==0.1.4
coloredlogs==15.0.1
cryptography==44.0.2
defusedxml==0.7.1
et_xmlfile==2.0.0
flatbuffers==25.2.10
humanfriendly==10.0
idna==3.10
isodate==0.7.2
jmespath==1.0.1
lxml==5.3.2
magika==0.6.1
mammoth==1.9.0
markdownify==1.1.0
markitdown==0.1.1
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
numpy==2.2.5
olefile==0.47
onnxruntime==1.21.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pdfminer.six==20250416
pillow==11.2.1
protobuf==6.30.2
pycparser==2.22
pydub==0.25.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-pptx==1.0.2
pytz==2025.2
requests==2.32.3
s3transfer==0.11.5
six==1.17.0
soupsieve==2.6
SpeechRecognition==3.14.2
sympy==1.13.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
xlrd==2.0.1
XlsxWriter==3.2.3
youtube-transcript-api==1.0.3
